div{
    float: left;
    padding: 10px;
    margin  : 10px;
    border: 10px;
    overflow: hidden;
}
p{
    display: inline-block;
}
span{
    display: inline-block
    ;
    background-color: #FFA500;
    border: 5px solid #FF4500;
    margin: 5px;
    padding: 5px;
}
#r{
    border: 10px red outset;
    margin-top: 15px;
}
#g{
    border: 10px green dashed;
    margin-top: 15px;
}
#b{
    border: 10px blue dotted;
    margin-top: 15px;
}
#c{
    border: 10px cyan double;
    margin-top: 15px;
}
#m{
    border: 10px magenta groove;
    margin-top: 15px;
}
#y{
    border: 10px yellow inset;
    margin-top: 15px;
}
#k{
    border: 10px black solid;
    margin-top: 15px;
}
#f{
    width: 400px;
    border: 5px solid #FF7F50;
    text-align: center;
}
#s{
    border: 5px solid red;
    overflow: auto;
    box-shadow: inset 2px 2px 8px 8px rgba(0,0,0,.5);
    border-radius: 20px/40px;
}
#t{
    border: 5px solid  #FF6347;
}